
<form [formGroup]="userForm"  (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Name:</mat-label>
    <input matInput type="text" placeholder="Ex. 12" [formControl]="name" min="10">   
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Password:</mat-label>
    <input matInput type="text" placeholder="Ex. 12" [formControl]="password" min="10">
  </mat-form-field>
  <button mat-button color="primary" type="submit" [disabled]="!userForm.valid">Login</button>
</form>

<mat-card style="background-color: green;" *ngIf="showSuccess">
  Success!
</mat-card>
<mat-card style="background-color: red;" *ngIf="showError">
  Failure to login.
</mat-card>
<section *ngIf="showSuccess">
  <div class="example-button-row">
    <button mat-button color="primary" (click)="getPlayers()">Get Players</button>    
  </div>
</section>